= form_for @comment, url: itinerary_comments_path(@itinerary), method: :post do |f|
  = f.label :Заголовок
  = f.text_field :title, class: 'form-control'
  = f.label :Комментарий
  = f.text_area :comment, class: 'form-control', rows: '6'
  %br
  = f.submit class: 'btn btn-info', value: 'Оставить комментарий'
