= render "shared/sign_reg_buttons"

%h1 Listing itineraries

%ul
  - @itineraries.each do |itinerary|
    %li
      %h4= itinerary.name
      %p= itinerary.description
      %p= link_to 'Show', itinerary
      %p= link_to 'Edit', edit_itinerary_path(itinerary)
      %p= link_to 'Destroy', itinerary, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Itinerary', new_itinerary_path
=render 'shared/social'
