%h1 Listing itineraries

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @itineraries.each do |itinerary|
    %tr
      %td= itinerary.name
      %td= itinerary.description
      %td= link_to 'Show', itinerary
      %td= link_to 'Edit', edit_itinerary_path(itinerary)
      %td= link_to 'Destroy', itinerary, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Itinerary', new_itinerary_path
