= content_for :navbar do
  = render 'shared/navbar'

/ = image_tag avatar_url(current_user)  - Неправильно работает
/ = link_to "Invite a friend", new_user_invitation_path, :class => 'btn btn-primary'

= content_for(:page_header) { can_view_self_itineraries? ? 'Мои маршруты' : 'Все маршруты' }
= content_for(:page_actions) { link_to 'Новый маршрут', new_itinerary_path, class: 'btn btn-primary' if can? :create, Itinerary }

= paginate @itineraries, :remote => true
.list-group
  = render 'itineraries_list', itineraries: @itineraries

= content_for :map do
  = render "shared/map"

= content_for :footer do
  =render 'shared/social'
