= content_for :navbar do
  = render 'shared/navbar'


#left.col-xs-8
  .row
    %h2
      .col-lg-8
        Listing itineraries
      .col-lg-4.text-right
        =link_to 'New itinerary', new_itinerary_path, class: 'btn btn-primary'
  %br
  - @itineraries.each do |itinerary|
    .panel.panel-default
      .panel-heading
        = link_to itinerary.name, itinerary
    %p= itinerary.description

= content_for :footer do
  =render 'shared/social'
