=render "shared/sign_reg_buttons"
%p#notice= notice

%p
  %b Name:
  = @itinerary.name
%p
  %b Description:
  = @itinerary.description

%div.clearfix
  = render "shared/map"
  = render "shared/points"
= render "shared/social"
