= content_for :navbar do
  = render 'shared/navbar'

%p#notice= notice

.col-lg-5
  %p.lead
    %b Name:
    = @itinerary.name
  %p.lead
    %b Description:
    = @itinerary.description
    = render "shared/points"
= render "shared/map"

= content_for :footer do
  = render "shared/social"
