= content_for :navbar do
  = render 'shared/navbar'


%p.lead
  %b Название маршрута:
  = @itinerary.name
= render "shared/points"
%br
%p.lead
  %b Описание:
  %blockquote= @itinerary.description

= content_for :map do
  = render "shared/map"

= content_for :footer do
  = render "shared/social"
