= content_for :navbar do
  = render 'shared/navbar'


.col-lg-5
  %p.lead
    %b Name:
    = @itinerary.name
  %p.lead
    %b Description:
    = @itinerary.description
    = render "shared/points"
= render "shared/map"

= content_for :footer do
  .foot= render "shared/social"
