= content_for :navbar do
  = render 'shared/navbar'

.row
  .col-lg-9
    %p.lead
      %b Название маршрута:
      = @itinerary.name
  .col-lg-3.text-right
    = link_to 'Вступить', participate_itinerary_path(@itinerary), class: 'btn btn-success' if can?(:participate, @itinerary)
    = link_to 'Удалить маршрут', itinerary_path(@itinerary), method: :delete, class: 'btn btn-success' if can?(:destroy, @itinerary)
= render "shared/points"
%br
%p.lead
  %b Описание:
  %blockquote= @itinerary.description

%p.lead
  %b Участники
  = "(#{@itinerary.users.size})"
  %ul
  - @itinerary.users.each do |user|
    %li= "#{user.fullname} (#{user.email})"

%p.lead
  %b Комментарии
  = "(#{@itinerary.comments.size})"
  = render 'comments', itinerary: @itinerary

.col-lg-6= render('comment_form', comment: @comment) if can? :create, Comment

= content_for :map do
  = render "shared/map"

= content_for :footer do
  = render "shared/social"
