.navbar.navbar-custom.navbar-fixed-top
  .navbar-header
    = link_to 'Travel', root_url, class: 'navbar-brand'
    %a.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      %li
        = link_to 'Маршруты', itineraries_url
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li
          = link_to current_user.try(:email), '#'
        %li
          = link_to 'Выйти', destroy_user_session_path, method: 'delete'
      - else
        %li
          = link_to 'Войти', new_user_session_path
        %li
          = link_to 'Зарегистрироваться', new_user_registration_path
