
<script>
window.gmap_points = <%= raw@hash.to_json %>
</script>
<script>
window.orgn = <%= raw@pf.to_json %>
</script>
<script>
window.dest = <%= raw@pl.to_json%>
</script>
<script>
window.author = <%= current_user.id %>
</script>


<div id="left">
  <div class="row">
    <h2>
      <div class="col-lg-8">
        Points
      </div>
    </h2>
  </div>
  <br/>
  <div id="points-wrap">
  <% @points.each do |point| %>
    <%= render 'points/point', point: point%>
  <% end %>
  </div>
</div>
