<script>
window.gmap_points = <%= raw@hash.to_json %>
</script>
<script>
window.author = <%= current_user.id %>
</script>
            <aside class="col-md-7 float-left">
                  <ul class='points-list'>
                  <% @points.each do |point| %>
                    <li>
                    <span class='point-name'> <%= point.name %> </span><br>
                    <%= point.description %>
                    <span class='options'>
                      <%= link_to 'Show', point %>
                      <%= link_to 'Edit', edit_point_path(point) %>
                      <%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </span>
                    </li>
                <% end %>
                </ul>
            </aside>
