
<script>
window.gmap_points = <%= raw@hash.to_json %>
</script>
<script>
window.orgn = <%= raw@pf.to_json %>
</script>
<script>
window.dest = <%= raw@pl.to_json%>
</script>
<script>
window.author = <%= current_user.id %>
</script>
            <aside class="col-md-7 float-left">
                  <ul class='points-list'>
                  <% @points.each do |point| %>
                    <li>
                        <span class='point-name'> <%= point.name %> </span><br>
                        <%= point.description %>
                        <div class="options">
                            <%= link_to 'Destroy', itinerary_point_path(@itinerary, point),  method: :delete, remote: true%>
                        </div>

                    </li>
                <% end %>
                </ul>
            </aside>
