%h1 Listing uzers

%table
  %tr
    %th Имя
    %th Email
    %th Логин
    %th
    %th
    %th

  - @uzers.each do |uzer|
    %tr
      %td= uzer.name
      %td= uzer.email
      %td= uzer.login
      %td= link_to 'Show', uzer
      %td= link_to 'Edit', edit_uzer_path(uzer)
      %td= link_to 'Destroy', uzer, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'New Uzer', new_uzer_path
